<table mat-table [dataSource]="dataSource">

  <!-- Columnas -->
  <ng-container *ngFor="let columna of columns">
    <ng-container [matColumnDef]="columna.key">
      <th class="f-w-600 mat-subtitle-1 f-s-14 p-l-0" mat-header-cell *matHeaderCellDef>{{ columna.name |translate | uppercase }}
      </th>
      <td mat-cell class="p-16 mat-body-1" *matCellDef="let element" [style.max-width]="columna.width">
        <ng-container>
          {{ element[columna.key] }}
        </ng-container>
      </td>
    </ng-container>
  </ng-container>

  <!-- Columna de acción -->

  <ng-container matColumnDef="accion">
    <th class="f-w-600 mat-subtitle-1 f-s-14 p-l-0" mat-header-cell *matHeaderCellDef>{{ 'COLUMNA.ACCION' |translate | uppercase }}</th>
    <td mat-cell *matCellDef="let element" class="action-link">
      <a (click)="goViewClick(element)" class="m-r-10 cursor-pointer" matTooltip="{{'MAT_TOOLTIP.VER' | translate}}">
        <i-tabler name="eye" class="icon-18"></i-tabler>
      </a>
      <a (click)="goEditClick(element)" class="m-r-10 cursor-pointer" matTooltip="{{'MAT_TOOLTIP.EDITAR' | translate}}">
        <i-tabler name="edit" class="icon-18"></i-tabler>
      </a>
      <a (click)="deleteCompaniaClick(element)" class="m-r-10 cursor-pointer" matTooltip="{{'MAT_TOOLTIP.ELIMINAR' | translate}}">
        <i-tabler name="trash" class="icon-18"></i-tabler>
      </a>
    </td>
  </ng-container>
  <!-- Columna de acción -->
  <!-- Encabezado de la tabla -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns.concat('accion')"></tr>

  <!-- Filas de datos -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns.concat('accion');"></tr>

  <!-- Mensaje cuando no hay registros -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">{{ 'TABLE_PROPERTIES.NO_RECORDS_FOUND' |translate }}</td>
  </tr>


</table>
