<div class="col-sm-12 d-flex align-items-center">
  <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">{{ label | translate }} <span *ngIf="required">*</span>:
  </mat-label>
</div>
<div class="col-sm-12">
  <mat-form-field *ngIf="readonly" appearance="outline" class="w-100">
    <input matInput [value]="getSelectedOptionLabel()" readonly="" />
  </mat-form-field>
  <mat-form-field *ngIf="!readonly" appearance="outline" class="w-100">

    <mat-select [formControl]="getControl()" [placeholder]="placeholder" (selectionChange)="onSelectionChange($event)">
      <mat-option  [value]="defaultOption.id">{{ defaultOption.desc }}</mat-option>
      <mat-option  *ngFor="let option of options" [value]="option.id">
        {{ option.desc }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="isRequiredFieldInvalid()">{{ 'MENSAJE.ERROR.REQUIRED' | translate }} </mat-error>
  </mat-form-field>
</div>
